body{
  background-color: black;
}
.page-wrapper {
  margin: 15px;
}
/* row 1/1 */
.row {
  /* flexbox */
  display: flex;
  /* flex-flow: row wrap; */
  flex-wrap: wrap;
  width: 100%;
}
.column {
  /* flexbox */
  display: flex;
  flex-flow: column wrap;
  flex-basis: 100%;
}

@media screen and (min-width: 450px) {
  .column {
    flex: 1;
  }
}
